html5lib
invoke >= 0.20.2
markdown
minchin.pelican.plugins.autoloader
minchin.pelican.plugins.cname
minchin.pelican.plugins.nojekyll
minchin.pelican.plugins.optimize_images
minchin.pelican.plugins.post_stats
minchin.pelican.plugins.static-comments >= 2.1.0
minchin.pelican.plugins.summary >= 1.2.0
pelican
pelican-alias
pelican-comment-system
pelican-extended-sitemap
pelican-minify
pelican-neighbors
pip-tools >= 6.8
seafoam >= 2.8.1
typogrify
webassets >= 0.12.1
# for beautifulsoup
lxml
# for better installs
wheel
# security forced updated
jinja2 >= 2.11.3  # otherwise, via Pelican
Pillow >= 9.3.0
Pygments >= 2.7.4  # otherwise, via Pelican
lxml >= 4.9.1
wheel >= 0.38.1
