html5lib
invoke >= 0.20.2
markdown
minchin.pelican.plugins.autoloader
minchin.pelican.plugins.cname
minchin.pelican.plugins.nojekyll
minchin.pelican.plugins.optimize_images
minchin.pelican.plugins.post_stats
minchin.pelican.plugins.summary
pelican == 3.7.1
pelican-alias
pelican-comment-system
pelican-extended-sitemap
pelican-minify
pelican-neighbors
pip-tools >= 6
seafoam >= 2.7.0
typogrify
webassets >= 0.12.1
# for beautifulsoup
lxml
# security forced updated
jinja2 >= 2.11.3  # otherwise, via Pelican
Pillow >= 8.3.2
Pygments >= 2.7.4  # otherwise, via Pelican
# for better installs
wheel
