invoke==0.13.0
pelican==3.6.3
markdown==2.6.6
minchin.pelican.themes.minchindotca==1.0.0
minchin.pelican.plugins.image_process==1.0.0
minchin.pelican.plugins.cname==1.0.1
minchin.pelican.plugins.nojekyll==1.0.0
pelican-alias==1.1
pelican-neighbors==1.0.0
webassets==0.12.0
