html5lib
invoke >= 0.20.2
markdown
minchin.pelican.plugins.autoloader
minchin.pelican.plugins.cname
minchin.pelican.plugins.nojekyll
minchin.pelican.plugins.optimize_images
minchin.pelican.plugins.post_stats
minchin.pelican.plugins.static-comments >= 2.1.0
minchin.pelican.plugins.summary
pelican == 3.7.1
pelican-alias
pelican-comment-system
pelican-extended-sitemap
pelican-minify
pelican-neighbors
pip-tools >= 6.8
seafoam >= 2.7.0
typogrify
webassets >= 0.12.1
# for beautifulsoup
lxml
# security forced updated
jinja2 >= 2.11.3  # otherwise, via Pelican
Pillow >= 9.1
Pygments >= 2.7.4  # otherwise, via Pelican
lxml >= 4.6.5
# for better installs
wheel
