title: Negative Covid Test Results
date: 2020-09-27
Modified: 2020-11-21 16:33
Author: Wm. Minchin
Tags: Covid
Category: Covid

So my Honey and the kids got their Covid test back: negative. But, odd to me
at least, they've been asked to continue to isolate for the rest of the
original two week isolation period.

Thankfully, I've not been asked to isolate, so I've taken to running all the
errands. Grocery delivery has become more of thing of late, but I'm glad we
don't have to rely on it, or worry about it's cost.
